{% load static%}
{% load getenv %}
<div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
<header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>{%get_env_var 'DJANGO_SITE'%}<em> brk</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li {%if '/' == request.path%} 
              class="nav-item active " 
              {% else %}
              class="nav-item" 
              {%endif%}
              >
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
            <li {%if '/about/' == request.path%} 
              class="nav-item active " 
              {% else %}
              class="nav-item" 
              {%endif%}
              >           
                <a class="nav-link" href="/about/">About Us</a>
              </li>
             
             
              <li {%if '/contact/' == request.path%} 
              class="nav-item active " 
              {% else %}
              class="nav-item" 
              {%endif%}
              >
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              {%if request.user.is_yazar %}
               <li class="nav-item">
                <a class="nav-link" href="/admin/">Panel</a></li>
                                <li class="nav-item">
                <a class="nav-link" href="/logout/">Log Out</a>

              {%else%}
              {%if not request.user.is_authenticated%}
                <a class="nav-link" href="/login/">login</a></li>
                
                 <li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
                {%else%}
<li class="nav-item">
                <a class="nav-link" href="/logout/">Log Out</a>
                {%endif%}
              </li>
              {%endif%}
              
            </ul>
          </div>
        </div>
      </nav>
    </header>